{% extends 'happy_footprints/plantilla_prod.html' %}
{% load static %}

{% block titulo_producto %}
<title>Cama antiestrès</title>
{% endblock titulo_producto %}

{% block cuerpo_producto %}
<div class="container">
    <div class="row" style="text-align: center;">
        <div class="col-md-6 col-sm-12">
            <a href="#" target="_self"><br><br><img
                src="{{ nombree.foto.url }}" alt="No disponible"> </a>
        </div>
        <div class="col-md-6 col-sm-12">
            <br><h1 class="fw-bold"><strong>{{ nombree.nombre }}</h1></strong>
            <h1 class="fw-bold"><strong>${{ nombree.precio }}</h1> </strong>
            <br><br><br><h1 class="fw-bold"><strong>Cantidad:</h1></strong><input class="cant" type="number" min="1" max="200" placeholder="1">
            <button class="button"><strong>AÑADIR AL CARRITO</button></strong>
        </div>
    </div> 
    <div class="row" style="text-align: center;">
        <div class="col-md-12 col-sm-12">
            <hr class="solid">
            <h1 class="fw-bold"><strong>Descripción</h1></strong><br>
            <h3 class="fw-bold"><strong>{{ nombree.descripcion }}</h3></strong><br><br><br><br>
        </div>
    </div>
</div> 
{% endblock cuerpo_producto %}