{% extends 'happy_footprints/plantilla_prod.html' %}
{% load static %}

{% block titulo_producto %}
<title>Cama antiestrès</title>
{% endblock titulo_producto %}

{% block cuerpo_producto %}

<div class="container">
    <div class="row" style="text-align: center;">
        <div class="col-md-6 col-sm-12">
            <a href="#" target="_self"><br><br><img
                src="{{ producto.foto.url }}" alt="No disponible"> </a>
        </div>
        <div class="col-md-6 col-sm-12">
            <br><h1 class="fw-bold"><strong>{{ producto.nombre }}</h1></strong>
            <h1 class="fw-bold"><strong>${{ producto.precio }}</h1> </strong>
            <h1 class="fw-bold"><strong>Stock: {{ producto.stock }}</h1> </strong>
            <br><br><br>
            <a class="button" href="{% url 'agregar_carrito2' producto.id_producto %}" id="liveToastBtn"><strong>AÑADIR AL CARRITO</strong></a>
        </div>
            <div class="toast-container position-fixed bottom-0 end-0 p-3">
              <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                  <strong class="me-auto"><strong></strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                  AÑADIDO AL CARRITO DE COMPRAS.
                </div>
              </div>
            </div>
          </div>
    </div> 
    <div class="row" style="text-align: center;">
        <div class="col-md-12 col-sm-12">
            <hr class="solid">
            <h1 class="fw-bold"><strong>Descripción</h1></strong><br>
            <h3 class="fw-bold"><strong>{{ producto.descripcion }}</h3></strong><br><br><br><br>
        </div>
    </div>
</div> 
{% endblock cuerpo_producto %}