{% extends 'happy_footprints/navbar.html' %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Comments</title>
</head>

<body>
    {% block cuerpo %}
    <div class="container">
        <div class="row" style="text-align: center;">
            <h1><strong>DANOS TU OPINIÓN</strong></h1>


            <form method="post"><br><br>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success btn-lg" ><strong>AGREGAR COMENTARIO</strong></button><br><br><br><br>
            </form>

            <h1><strong>COMENTARIOS</strong></h1><br><br>

            {% for comment in tablaComentario %}
            <br><br>
            <div class="col-sm-6 mb-3 mb-sm-5">
                <div class="card" style="text-align: center;">
                    <p class="fs-4"><strong>{{ comment.user.username | upper }}</strong> el {{ comment.created_at }} </p>
                    <p class="fs-4">{{ comment.content }}</p>
                </div>
            </div>{% endfor %}<br>

        </div>
    </div>

    </div>
    </div><br><br><br><br><br><br><br><br><br>
    {% endblock cuerpo %}

</body>

</html>