{% extends 'happy_footprints/navbar.html' %}
{% load static %}


{% block titulo %}
<title>Gestión</title>
{% endblock titulo %}

{% block cuerpo %}


<body>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            
            <h2><STRONG>GESTIÓN DE PRODUCTOS</STRONG></h2>
            <div class="card">
                <div class="card-body">
                    <form action="registrarProducto" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <div class="form-group">
                            <input type="text" id="txtID" name="txtID" class="form-control" placeholder="ID del producto"
                                minlength="6" maxlength="6" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre del producto"
                                maxlength="50" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="txtDescripcion" name="txtDescripcion" class="form-control" placeholder="Descripcion"
                                maxlength="50" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="numPrecio" name="numPrecio" class="form-control" placeholder="Precio"
                                maxlength="50" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="numStock" name="numStock" class="form-control" placeholder="Stock"
                                maxlength="50" required>
                        </div>
                        <div class="form-group">
                            <input accept="image/png,image/jpeg" type="file" id="ifoto" name="ifoto"  class="form-control">
                        </div>
                        <div>
                            <label style="text-shadow: 2px 2px 5px rgb(160, 154, 154);">Categoria</label>
                            <select class="form-control" name="Numcategorias" id="Numcategorias">
                                {% for z in categorias %}
                                <option value="{{ z.id_categoria }}">{{ z.id_categoria }}</option>
                                {% endfor %}
                            </select>
                         </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <h1><strong>LISTADO DE PRODUCTOS</strong></h1>
            <div class="table-responsive py-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th></th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in productos %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{c.codigo}}</td>
                            <td>{{c.nombre}}</td>
                            <td><a href="edicionProducto/{{c.id_producto}}" class="btn btn-info">Editar</a></td>
                            <td><a href="eliminarProducto/{{c.id_producto}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div><br><br><br><br><br><br><br><br><br><br>
</body>
{% endblock cuerpo %}
