{% extends 'happy_footprints/navbar.html' %}
{% load static %}


{% block titulo %}
<title>Gestión</title>
{% endblock titulo %}

{% block cuerpo %}


<body>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            
            <h2><STRONG>GESTIÓN DE PRODUCTOS</STRONG></h2>
            <div class="card">
                <div class="card-body">
                    <form action="#" method="POST">{% csrf_token %}
                        <div class="form-group">
                            <input type="text" id="id_producto" name="id_producto" class="form-control" placeholder="ID del producto"
                                minlength="6" maxlength="6" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre del producto"
                                maxlength="50" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="numCreditos" name="numCreditos" class="form-control" min="1" max="9"
                                value="1" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <h1><strong>LISTADO DE PRODUCTOS</strong></h1>
            <div class="table-responsive py-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Créditos</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in productos %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{c.codigo}}</td>
                            <td>{{c.nombre}}</td>
                            <td>{{c.creditos}}</td>
                            <td><a href="edicionProducto/{{c.id_producto}}" class="btn btn-info">Editar</a></td>
                            <td><a href="eliminarProducto/{{c.id_producto}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div><br><br><br><br><br><br><br><br><br><br>
</body>
{% endblock cuerpo %}
