{% extends 'happy_footprints/navbar.html' %}
{% load static %}

{% block titulo %}
<title>Perros</title>
{% endblock titulo %}

<!-- ESTRUCTURA DEL FOR PARA CADA PRODUCTO -->
{% block cuerpo %}
<br><br><br>
<div style="text-align: center;">
    <h1 class="fw-bold"><strong>ACCESORIOS PARA TU PERRITO!</h1></strong>
</div>
<br><br>
<div class="container">
    <div class="row" style="text-align: center;">
        {% for p in productos %}
        <div class="col-md-4 col-sm-12">
            <a href="{% url 'buscar_interno_producto' p.id_producto %}" target="_self"><br><br><br>
                <img class="fotoproductos1" src="{{ p.foto.url }}" alt="No disponible" /> </a>
            <h2 class="fw-bold" class="desc2"><strong>{{ p.nombre | upper }}</h2></strong>
            <h2 class="fw-bold" class="desc2"><strong>${{ p.precio }}</h2></strong>
        </div>
        {% endfor %}
    </div>
</div>
<br><br><br><br><br>
{% endblock cuerpo %}

