{% extends 'happy_footprints/navbar.html' %}

{% block cuerpo %}


<h1 class="fw-bold" style="text-align: center;"><strong>LOGIN</h1></strong>

<br>

<form action="" method="post">
    {% csrf_token %}

    <div class="card mx-auto" style="width: 30rem;">
        <div class="card-body">
            <h2 class="card-title"><strong>Complete todos los campos</h2></strong>
            <br>
            <input type="text" name="username" id="" placeholder="Nombre de Usuario">
            <br>
            <input type="password" name="password" id="" placeholder="Contraseña">
            <br>
            <button class="btn btn-sm btn-primary float-end" type="submit"><strong>INICIAR SESIÓN</button></strong>
        </div>
    </div>
</form>

<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>

{% endblock cuerpo %}