{% extends 'happy_footprints/Plantilla_accesorios.html' %}
{% load static %}

{% block titulo %}
<title>Perros</title>
{% endblock titulo %}

<!-- ESTRUCTURA DEL FOR PARA CADA PRODUCTO -->
{% block cuerpo %}
    <div class="container">
                <div class="row" style="text-align: center;">
                    {% for p in nomProd %}
                    <div class="col-md-4 col-sm-12">
                        <a href="{% url 'buscar_interno_producto' p.id_producto %}" target="_self"><br><br>
                            <img id="fotoproductos" src="{{ p.foto.url }}" alt="No disponible" /> </a>
                        <h4 class="desc2">{{ p.nombre }}</h4>
                        <h5 class="desc2">${{ p.precio }}</h5>
                    </div>
                    {% endfor %}
                </div>
    </div>
{% endblock cuerpo %}